<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Properties.Software" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Core.Properties.Device" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Core.Properties.Directory" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Core.Properties.Software>
            <setting name="LOG_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
        </Core.Properties.Software>
        <Core.Properties.Device>
            <setting name="IP_ADDR_SIGNAL_GEN" serializeAs="String">
                <value>192.168.1.112</value>
            </setting>
            <setting name="PORT_SIGNAL_GEN" serializeAs="String">
                <value>5025</value>
            </setting>
            <setting name="IP_ADDR_POWER_SUP" serializeAs="String">
                <value>192.168.1.11</value>
            </setting>
            <setting name="PORT_POWER_SUP" serializeAs="String">
                <value>5025</value>
            </setting>
        </Core.Properties.Device>
        <Core.Properties.Directory>
            <setting name="DEFAULT_SYSTEM_PATH_LOG" serializeAs="String">
                <value />
            </setting>
        </Core.Properties.Directory>
    </userSettings>
</configuration>